.header{
  height: 80px;
  box-shadow: 0 1px 5px #ddd;  
  box-sizing: border-box;
}
.header_top{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>li{
    height: 100%;
  }
}
.header_left{
  flex: none;
  color: #2f76df;
  font-size: 26px;
  cursor: pointer;
}